@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* SVG and div styling */
#content {
    margin: auto;
    /* width: 1550px; */
}

#map {
    width: 1100px;
    height: 500px;
}

#line-chart {
    width: 700px;
    height: 500px;
}

#info-box {
    margin: auto;
    width: 400px;
}

.header {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* Vis specific classes */
#countries>.country.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#countries>.country {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: 0.1;
}

.graticule {
    fill: none;
    stroke: rgb(15, 4, 4);
    stroke-width: .5px;
    stroke-opacity: .2;
}

.graticule.outline {
    stroke-width: 2px;
}

svg {
    /* padding: 10px; */
    /* width: 475px; */
    height: 250px;
    border: 10px #111;
}

.chart,
h2 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.toolbox span {
    padding: 5px;
}

.toolbox {
    padding: 10px;
    /* margin: 10px; */
    background-color: #333;
    color: white;
}

png,
img {
    width: 100%;
    height: auto;
}

a,
a:hover {
    text-decoration: none;
}

.module {
    padding: 1.25em;
}

.col-1-4 {
    width: 300px;
    float: left;
    margin: 1%;
}

.service {
    margin-bottom: 1.25em;
    min-height: 200px;
    height: auto;
    margin-right: 0px;
}

.service a h2 {
    color: rgb(80, 80, 80);
    font: 400;
    margin: 0px;
    padding-bottom: 0.25em;
    border-bottom: 4px solid #cfcfcf;
}

.service a .module {
    color: rgb(80, 80, 80);
    margin-bottom: 1em;
    cursor: pointer;
}

.service a .module:first-child {
    margin: 0px;
}

/* .service a .module:after { 
    content: "explore"; 
    color: rgb(255, 255, 255); 
    padding: 8px 14px; 
  } */


.service a #titleid.module {
    background: none repeat scroll 0% 0% rgb(220, 220, 220);
}

.service a #titleid.module:after {
    background: none repeat scroll 0% 0% rgb(180, 180, 180);
}

.service a #titleid.module:hover:after {
    background: none repeat scroll 0% 0% rgb(160, 160, 160);
}

.bar-chart2 rect {
    fill: #2b82bb;
}

.bar-chart2 .hovered {
    fill: #979696;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#line1-path {
    fill: none;
    stroke: #000;
}

.line-chart1 {
    width: 300px !important;
    padding: 0px !important;
    height: 250px !important;
}

.chartHeader {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bar-chart1 {
    padding: 10px;
    width: 475px;
}

.line-chart {
    padding: 10px;
    width: 700px;
    height: 400px;
}

.bar-chart2 {
    padding: 10px;
    width: 700px;
    height: 400px;
}

#viewDiv {
    padding: 15px;
    margin: 0;
    height: 100%;
}

.esri-attribution__powered-by {
    display: none;
}

.esri-attribution__sources {
    display: none;
}

#timeSlider {
    width: 400px;
}

#infoDiv {
    padding: 10px;
    width: 280px;
}

#infoDiv span {
    color: #f9c653;
    font-size: 12pt;
    font-weight: bolder;
}